body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
}

form input, form textarea {
  width: 100%;
}

form button {
  display: flex;
  align-self: flex-end;
}

section{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}